[Unit]
Description="abkd_app-frappe-schedule"
PartOf=abkd_app-workers.target

[Service]
User=savjaylade84
Group=savjaylade84
Restart=always
ExecStart=/home/savjaylade84/.local/bin/bench schedule
StandardOutput=file:/mnt/c/Users/jayson/source/repos/frappe/abkd_app/logs/schedule.log
StandardError=file:/mnt/c/Users/jayson/source/repos/frappe/abkd_app/logs/schedule.error.log
WorkingDirectory=/mnt/c/Users/jayson/source/repos/frappe/abkd_app