[Unit]
Description="abkd_app-redis-socketio"
PartOf=abkd_app-redis.target

[Service]
User=savjaylade84
Group=savjaylade84
Restart=always
ExecStart=/usr/bin/redis-server /mnt/c/Users/jayson/source/repos/frappe/abkd_app/config/redis_socketio.conf
StandardOutput=file:/mnt/c/Users/jayson/source/repos/frappe/abkd_app/logs/redis-socketio.log
StandardError=file:/mnt/c/Users/jayson/source/repos/frappe/abkd_app/logs/redis-socketio.error.log
WorkingDirectory=/mnt/c/Users/jayson/source/repos/frappe/abkd_app/sites